
@import "tailwindcss";


html,
body {
    height: 100%;
    width: 100%;
    background-color: #2E3440;
   
}

.message-box  {
    scroll-behavior: smooth;
}
.message-box::-webkit-scrollbar {
    display: none;
}